h1{
    margin-bottom: 30px;
    color: red;
    text-decoration: underline;
}
input{
    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
    color: aliceblue;
    background-color:crimson;
    border: solid;
    border-radius: 10px;
}
button{
    margin-bottom: 20px;
    background-color: aquamarine;
    border-radius: 21px;
}
hr{
    margin-bottom: 15px;
}
body{
    background-color: honeydew;
}